.array-cont {
    position: relative;
    /* top: 100px; */
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

.array-bar {
    width: 2px;
    background-color: lightblue;
    display: inline-block;
    margin: 0 1px;
}